USE [master]
GO
/****** Object:  Database [HOSPITAL_PATIENT_MANAGEMENT]    Script Date: 04/22/2022 11:31:10 PM ******/
CREATE DATABASE [HOSPITAL_PATIENT_MANAGEMENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOSPITAL_PATIENT_MANAGEMENT', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HOSPITAL_PATIENT_MANAGEMENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOSPITAL_PATIENT_MANAGEMENT_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HOSPITAL_PATIENT_MANAGEMENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOSPITAL_PATIENT_MANAGEMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOSPITAL_PATIENT_MANAGEMENT]
GO
/****** Object:  UserDefinedFunction [dbo].[GET_TOTAL_PRICE]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GET_TOTAL_PRICE](@VISIT_ID INT)

RETURNS DECIMAL(10,2)
AS
BEGIN

	DECLARE @TOTAL_MED_CHARGE DECIMAL(10,2);
	DECLARE @TOTAL_LAB_CHARGE DECIMAL(10,2);
	DECLARE @TOTAL_DOCTOE_CHARGE DECIMAL(10,2);
	DECLARE @TOTAL_PRICE DECIMAL(10,2);

	SET @TOTAL_MED_CHARGE=0.00;
	SET @TOTAL_LAB_CHARGE=0.00;
	SET @TOTAL_DOCTOE_CHARGE=0.00;
	SET @TOTAL_PRICE=0.00;

	SELECT @TOTAL_MED_CHARGE=(SELECT SUM(MEDICINE_CHARGE) FROM BILL WHERE VISIT_ID=@VISIT_ID);
	SELECT @TOTAL_LAB_CHARGE=(SELECT LAB_CHARGE FROM BILL WHERE VISIT_ID=@VISIT_ID);
	SELECT @TOTAL_DOCTOE_CHARGE=(SELECT DOCTOR_CHARGE FROM BILL WHERE VISIT_ID=@VISIT_ID);

	SELECT @TOTAL_PRICE=(@TOTAL_MED_CHARGE+@TOTAL_LAB_CHARGE+@TOTAL_DOCTOE_CHARGE);

	RETURN @TOTAL_PRICE;

END;
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT](
	[PATIENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PATIENT_CODE] [varchar](10) NOT NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[NATIONALITY] [varchar](20) NULL,
	[GENDER] [varchar](14) NULL,
	[ADDRESS] [varchar](60) NULL,
	[DOB] [date] NULL,
	[PHONE] [varchar](14) NULL,
	[EMAIL] [varchar](30) NULL,
	[SSN] [varbinary](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[PATIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSURANCE]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSURANCE](
	[INSURANCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PATIENT_ID] [int] NULL,
	[PUBLISH_DATE] [date] NULL,
	[EXPIRATION_DATE] [date] NULL,
	[INSURANCE_COMPANY] [varchar](30) NULL,
	[INSURANCE_PLAN_ID] [varchar](30) NULL,
	[INSURANCE_COVERAGE] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[INSURANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Insurance_Expired_With_Pat_Contacts]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[Insurance_Expired_With_Pat_Contacts] 
AS
(SELECT p.PATIENT_ID, p.FIRST_NAME, p.LAST_NAME, p.PHONE, p.EMAIL,
 i.INSURANCE_COMPANY,i.INSURANCE_ID, i.EXPIRATION_DATE
FROM PATIENT p 
INNER JOIN INSURANCE i ON p.PATIENT_ID = i.PATIENT_ID
WHERE i.EXPIRATION_DATE < GETDATE());
GO
/****** Object:  Table [dbo].[APPOINTMENT]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENT](
	[APPOINTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PATIENT_ID] [int] NULL,
	[DOCTOR_ID] [int] NULL,
	[TYPE] [varchar](40) NULL,
	[CREATED_DATE] [datetime] NULL,
	[APPOINTMENT_DATE] [date] NULL,
	[APPOINTMENT_TIME] [time](7) NULL,
	[APPOINTMENT_DESCRIPTION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[APPOINTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Upcoming_Appointments]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[Upcoming_Appointments] 
AS
(SELECT p.PATIENT_ID, p.FIRST_NAME, p.LAST_NAME,
 a.APPOINTMENT_DATE, a.APPOINTMENT_TIME, a.APPOINTMENT_DESCRIPTION
FROM PATIENT p 
INNER JOIN APPOINTMENT a ON p.PATIENT_ID = a.PATIENT_ID
WHERE a.APPOINTMENT_DATE>'2022-01-02' AND a.DOCTOR_ID = '11');
GO
/****** Object:  Table [dbo].[VISIT]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISIT](
	[VISIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PATIENT_ID] [int] NULL,
	[DOCTOR_ID] [int] NULL,
	[VISIT_DATE] [date] NULL,
	[DIAGNOSIS] [varchar](50) NULL,
	[REFERENCE] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[VISIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[BILLING_ID] [int] IDENTITY(1,1) NOT NULL,
	[VISIT_ID] [int] NULL,
	[DOCTOR_CHARGE] [decimal](5, 2) NULL,
	[MEDICINE_CHARGE] [decimal](5, 2) NULL,
	[LAB_CHARGE] [decimal](5, 2) NULL,
	[TOTAL_PRICE]  AS ([dbo].[GET_TOTAL_PRICE]([VISIT_ID])),
PRIMARY KEY CLUSTERED 
(
	[BILLING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PATIENT_BILLING_DETAILS]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PATIENT_BILLING_DETAILS]
AS
(
SELECT PA.PATIENT_CODE,PA.FIRST_NAME+' '+PA.LAST_NAME PATIENT_NAME,PA.PHONE,VST.[VISIT_DATE],BL.DOCTOR_CHARGE,
BL.MEDICINE_CHARGE,BL.LAB_CHARGE,BL.TOTAL_PRICE
FROM PATIENT PA
JOIN VISIT VST ON(VST.PATIENT_ID=PA.PATIENT_ID)
JOIN BILL BL ON(BL.VISIT_ID=VST.VISIT_ID)
)
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ADMIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADMIN_NAME] [varchar](50) NULL,
	[ADMIN_POST] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CODES]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CODES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TABLE_NAME] [varchar](50) NULL,
	[TABLE_ID] [varchar](10) NULL,
	[VALUE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPARTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADMIN_ID] [int] NULL,
	[DEPARTMENT_NAME] [varchar](30) NULL,
	[DEPARTMENT_MANAGER] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[DOCTOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[DOCTOR_CODE] [varchar](20) NOT NULL,
	[DEPARTMENT_ID] [int] NULL,
	[OFFICE_ID] [int] NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[SPECIALIST] [varchar](40) NULL,
	[PHONE] [varchar](14) NULL,
	[EMAIL] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSURANCEAUDIT]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSURANCEAUDIT](
	[INSURANCEAUDITID] [int] IDENTITY(1,1) NOT NULL,
	[INSURANCE_ID] [int] NULL,
	[PATIENT_ID] [int] NULL,
	[PUBLISH_DATE] [date] NULL,
	[EXPIRATION_DATE] [date] NULL,
	[INSURANCE_COMPANY] [varchar](30) NULL,
	[INSURANCE_PLAN_ID] [varchar](30) NULL,
	[INSURANCE_COVERAGE] [decimal](10, 2) NULL,
	[ACTION] [varchar](1) NULL,
	[ACTIONDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[INSURANCEAUDITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICINE]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICINE](
	[MEDICINE_ID] [int] IDENTITY(1,1) NOT NULL,
	[MEDICINE_NAME] [varchar](40) NULL,
	[MEDICINE_TYPE] [varchar](40) NULL,
	[MEDICINE_DESC] [varchar](60) NULL,
	[MEDICINE_PRICE] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MEDICINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OFFICE]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFFICE](
	[OFFICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[BUILDING_LOCATION] [varchar](50) NULL,
	[ROOM_NO] [int] NULL,
	[FLOOR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OFFICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENTAUDIT]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENTAUDIT](
	[PATIENtAUDITID] [int] IDENTITY(1,1) NOT NULL,
	[PATIENT_ID] [int] NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[NATIONALITY] [varchar](20) NULL,
	[GENDER] [varchar](14) NULL,
	[ADDRESS] [varchar](60) NULL,
	[DOB] [date] NULL,
	[PHONE] [varchar](14) NULL,
	[EMAIL] [varchar](30) NULL,
	[ACTION] [varchar](1) NULL,
	[ACTIONDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PATIENtAUDITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESCRIPTION]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESCRIPTION](
	[PRESCRIPTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[MEDICINE_ID] [int] NULL,
	[VISIT_ID] [int] NULL,
	[TIMEFRAME] [varchar](20) NULL,
	[QUANTITY] [int] NULL,
	[DOSAGE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRESCRIPTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ind_appt_date]    Script Date: 04/22/2022 11:31:10 PM ******/
CREATE NONCLUSTERED INDEX [ind_appt_date] ON [dbo].[APPOINTMENT]
(
	[APPOINTMENT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ind_doc_code]    Script Date: 04/22/2022 11:31:10 PM ******/
CREATE NONCLUSTERED INDEX [ind_doc_code] ON [dbo].[DOCTOR]
(
	[DOCTOR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ind_p_code]    Script Date: 04/22/2022 11:31:10 PM ******/
CREATE NONCLUSTERED INDEX [ind_p_code] ON [dbo].[PATIENT]
(
	[PATIENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ind_v_date]    Script Date: 04/22/2022 11:31:10 PM ******/
CREATE NONCLUSTERED INDEX [ind_v_date] ON [dbo].[VISIT]
(
	[VISIT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [fk_a_docid] FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[DOCTOR] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [fk_a_docid]
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [fk_a_patid] FOREIGN KEY([PATIENT_ID])
REFERENCES [dbo].[PATIENT] ([PATIENT_ID])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [fk_a_patid]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [fk_b_visitid] FOREIGN KEY([VISIT_ID])
REFERENCES [dbo].[VISIT] ([VISIT_ID])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [fk_b_visitid]
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [fk_d_adminid] FOREIGN KEY([ADMIN_ID])
REFERENCES [dbo].[ADMIN] ([ADMIN_ID])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [fk_d_adminid]
GO
ALTER TABLE [dbo].[DOCTOR]  WITH NOCHECK ADD  CONSTRAINT [fk_d_deptid] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[DOCTOR] CHECK CONSTRAINT [fk_d_deptid]
GO
ALTER TABLE [dbo].[DOCTOR]  WITH NOCHECK ADD  CONSTRAINT [fk_d_offid] FOREIGN KEY([OFFICE_ID])
REFERENCES [dbo].[OFFICE] ([OFFICE_ID])
GO
ALTER TABLE [dbo].[DOCTOR] CHECK CONSTRAINT [fk_d_offid]
GO
ALTER TABLE [dbo].[INSURANCE]  WITH CHECK ADD  CONSTRAINT [fk_i_patid] FOREIGN KEY([PATIENT_ID])
REFERENCES [dbo].[PATIENT] ([PATIENT_ID])
GO
ALTER TABLE [dbo].[INSURANCE] CHECK CONSTRAINT [fk_i_patid]
GO
ALTER TABLE [dbo].[PRESCRIPTION]  WITH CHECK ADD  CONSTRAINT [fk_p_medid] FOREIGN KEY([MEDICINE_ID])
REFERENCES [dbo].[MEDICINE] ([MEDICINE_ID])
GO
ALTER TABLE [dbo].[PRESCRIPTION] CHECK CONSTRAINT [fk_p_medid]
GO
ALTER TABLE [dbo].[PRESCRIPTION]  WITH CHECK ADD  CONSTRAINT [fk_p_visitid] FOREIGN KEY([VISIT_ID])
REFERENCES [dbo].[VISIT] ([VISIT_ID])
GO
ALTER TABLE [dbo].[PRESCRIPTION] CHECK CONSTRAINT [fk_p_visitid]
GO
ALTER TABLE [dbo].[VISIT]  WITH CHECK ADD  CONSTRAINT [fk_v_docid] FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[DOCTOR] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[VISIT] CHECK CONSTRAINT [fk_v_docid]
GO
ALTER TABLE [dbo].[VISIT]  WITH CHECK ADD  CONSTRAINT [fk_v_patid] FOREIGN KEY([PATIENT_ID])
REFERENCES [dbo].[PATIENT] ([PATIENT_ID])
GO
ALTER TABLE [dbo].[VISIT] CHECK CONSTRAINT [fk_v_patid]
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD CHECK  (([ADMIN_POST]='FINANCE' OR [ADMIN_POST]='BUSINESS'))
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD CHECK  (([TYPE]='Radiologist' OR [TYPE]='Neurologist' OR [TYPE]='Psychiatrist' OR [TYPE]='Dermatologist' OR [TYPE]='Ophthalmologist' OR [TYPE]='Otolaryngologist' OR [TYPE]='Pulmonologist' OR [TYPE]='Nephrologist' OR [TYPE]='Gastroenterologist' OR [TYPE]='Cardiologist'))
GO
ALTER TABLE [dbo].[DOCTOR]  WITH NOCHECK ADD CHECK  (([SPECIALIST]='Radiologist' OR [SPECIALIST]='Neurologist' OR [SPECIALIST]='Psychiatrist' OR [SPECIALIST]='Dermatologist' OR [SPECIALIST]='Ophthalmologist' OR [SPECIALIST]='Otolaryngologist' OR [SPECIALIST]='Pulmonologist' OR [SPECIALIST]='Nephrologist' OR [SPECIALIST]='Gastroenterologist' OR [SPECIALIST]='Cardiologist'))
GO
ALTER TABLE [dbo].[PATIENT]  WITH CHECK ADD CHECK  ((len([PHONE])<=(12)))
GO
/****** Object:  StoredProcedure [dbo].[GET_APPOINTMENT_DETAILS]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_APPOINTMENT_DETAILS] @PATIENT_CODE VARCHAR(20),
										@PATIENT_FIRST_NAME VARCHAR(30),
										@PATIENT_LAST_NAME VARCHAR(30)
AS
BEGIN

DECLARE @CHECK_PA_EXISTS INT;

SET @CHECK_PA_EXISTS=0;

SELECT @CHECK_PA_EXISTS=(SELECT COUNT(PATIENT_CODE)
						FROM PATIENT
						WHERE PATIENT_CODE=@PATIENT_CODE 
						OR FIRST_NAME=@PATIENT_FIRST_NAME
						OR LAST_NAME=@PATIENT_LAST_NAME
						);
PRINT @CHECK_PA_EXISTS;
IF @CHECK_PA_EXISTS>0
BEGIN
	
	CREATE INDEX ind_pa_code ON PATIENT(PATIENT_CODE);


	SELECT PA.PATIENT_CODE, PA.FIRST_NAME+' '+PA.LAST_NAME PATIENT_NAME, PA.GENDER,PA.DOB,PA.EMAIL,
		 DOC.FIRST_NAME+' '+DOC.LAST_NAME DOCTOR_NAME,
		 APPT.APPOINTMENT_ID, APPT.TYPE,APPT.APPOINTMENT_DATE,APPT.APPOINTMENT_TIME,APPT.APPOINTMENT_DESCRIPTION
	FROM APPOINTMENT APPT
	JOIN DOCTOR DOC ON(DOC.DOCTOR_ID=APPT.DOCTOR_ID)
	JOIN PATIENT PA ON(PA.PATIENT_ID=APPT.PATIENT_ID)
	WHERE PA.PATIENT_CODE=@PATIENT_CODE
	OR PA.FIRST_NAME=@PATIENT_FIRST_NAME OR PA.LAST_NAME=@PATIENT_LAST_NAME;
END
ELSE
BEGIN
	PRINT('The entered patient does not exists');
END;

END
GO
/****** Object:  StoredProcedure [dbo].[GET_CODES]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_CODES] @TABLE_NAME VARCHAR(30),
							@CODE VARCHAR(30) OUTPUT
AS
BEGIN
 DECLARE @TABLE_VALUE INT;
 DECLARE @ID VARCHAR(10);
 
 SELECT @TABLE_VALUE = (SELECT [VALUE] FROM CODES WHERE TABLE_NAME=@TABLE_NAME);
 SELECT @ID = (SELECT TABLE_ID FROM CODES WHERE TABLE_NAME=@TABLE_NAME);

  SET @TABLE_VALUE = @TABLE_VALUE+1;
	
	UPDATE CODES
	 SET [VALUE] = @TABLE_VALUE WHERE TABLE_NAME=@TABLE_NAME;

 SET @CODE= CONCAT(@ID,'_',(@TABLE_VALUE));
END
GO
/****** Object:  StoredProcedure [dbo].[GET_DOCTOR_DETAILS]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_DOCTOR_DETAILS] @DOCTOR_CODE VARCHAR(30),
									@FIRST_NAME VARCHAR(30),
									@LAST_NAME VARCHAR(30)
AS
BEGIN
DECLARE @CHECK_DR INT;

SELECT DOCTOR_CODE,SPECIALIST,FIRST_NAME,LAST_NAME,PHONE,EMAIL
FROM DOCTOR
WHERE DOCTOR_CODE=@DOCTOR_CODE OR FIRST_NAME=@FIRST_NAME OR LAST_NAME=@LAST_NAME;



END
GO
/****** Object:  StoredProcedure [dbo].[GET_INCOME_GENERATED_BY_DOCTOR]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_INCOME_GENERATED_BY_DOCTOR] @DOCTOR_CODE VARCHAR(20)
AS

BEGIN

DECLARE @CHECK_DOCTOR INT;

SET @CHECK_DOCTOR = 0;

SELECT @CHECK_DOCTOR=(SELECT COUNT(DOCTOR_ID) FROM DOCTOR WHERE DOCTOR_CODE=@DOCTOR_CODE)

	IF @CHECK_DOCTOR>0
		BEGIN

			SELECT SUM(b.DOCTOR_CHARGE) AS [Income Generated By Doctor]
			FROM DOCTOR d
			LEFT JOIN VISIT v ON v.DOCTOR_ID=d.DOCTOR_ID
			LEFT JOIN BILL b ON b.VISIT_ID=v.VISIT_ID
			WHERE d.DOCTOR_CODE=@DOCTOR_CODE
		
		END
	ELSE
		BEGIN
        
			SELECT ('DOCTOR NOT AVAILABLE FOR THE GIVEN DOCTOR_CODE') AS STATUS
		END;

END	
GO
/****** Object:  StoredProcedure [dbo].[GET_PATIENT_BILLING_DETAILS]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_PATIENT_BILLING_DETAILS] @PATIENT_CODE VARCHAR(10),
											@PATIENT_FIRST_NAME VARCHAR(30),
											@PATIENT_LAST_NAME VARCHAR(30)
AS
BEGIN

DECLARE @CHECK_PA INT;

SET @CHECK_PA=0;

SELECT @CHECK_PA = (SELECT COUNT(VST.PATIENT_ID)
					FROM VISIT VST
					JOIN APPOINTMENT APPT ON(APPT.PATIENT_ID=VST.PATIENT_ID)
					JOIN PATIENT PA ON(PA.PATIENT_ID=APPT.PATIENT_ID)
					WHERE PA.PATIENT_CODE=@PATIENT_CODE OR PA.FIRST_NAME=@PATIENT_FIRST_NAME OR PA.LAST_NAME=@PATIENT_LAST_NAME
					);

IF @CHECK_PA>0
BEGIN

	SELECT PA.PATIENT_CODE, PA.FIRST_NAME+' '+PA.LAST_NAME PATIENT_NAME,
		DOC.FIRST_NAME+' '+DOC.LAST_NAME CHECKED_BY, APPT.APPOINTMENT_TIME,VST.VISIT_DATE,
		BL.DOCTOR_CHARGE,BL.MEDICINE_CHARGE,BL.LAB_CHARGE,(BL.DOCTOR_CHARGE+BL.MEDICINE_CHARGE+BL.LAB_CHARGE) as TOTAL_PRICE,
		INS.INSURANCE_PLAN_ID,INS.INSURANCE_COVERAGE
	FROM PATIENT PA
	JOIN APPOINTMENT APPT ON(APPT.PATIENT_ID=PA.PATIENT_ID)
	JOIN DOCTOR DOC ON(DOC.DOCTOR_ID=APPT.DOCTOR_ID)
	JOIN VISIT VST ON(VST.PATIENT_ID=APPT.PATIENT_ID)
	JOIN BILL BL ON(BL.VISIT_ID=VST.VISIT_ID)
	LEFT JOIN INSURANCE INS on (INS.PATIENT_ID=APPT.PATIENT_ID)
	WHERE PA.PATIENT_CODE=@PATIENT_CODE
	OR PA.FIRST_NAME=@PATIENT_FIRST_NAME OR PA.LAST_NAME=@PATIENT_LAST_NAME;

END
ELSE
BEGIN
	
	PRINT('Then entered patient does not have visit to doctor');

END;



END
GO
/****** Object:  StoredProcedure [dbo].[GET_PATIENT_DETAILS]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_PATIENT_DETAILS] @PATIENT_CODE VARCHAR(30),
									@FIRST_NAME VARCHAR(30),
									@LAST_NAME VARCHAR(30)
AS 
BEGIN

DECLARE @CHECK_PA INT;

SET @CHECK_PA=0;

SET @CHECK_PA=(SELECT COUNT(*) FROM PATIENT WHERE PATIENT_CODE=@PATIENT_CODE OR FIRST_NAME=@FIRST_NAME OR LAST_NAME=@LAST_NAME);

IF @CHECK_PA>0
BEGIN

		
		SELECT PA.PATIENT_CODE,PA.FIRST_NAME,PA.LAST_NAME,PA.NATIONALITY,PA.GENDER,PA.ADDRESS,PA.DOB,PA.PHONE,PA.SSN,
				INS.PUBLISH_DATE,INS.EXPIRATION_DATE,INS.INSURANCE_COMPANY,INS.INSURANCE_PLAN_ID,INS.INSURANCE_COVERAGE
		FROM PATIENT PA
		JOIN INSURANCE INS ON (INS.PATIENT_ID=PA.PATIENT_ID)
		WHERE PA.PATIENT_ID=(SELECT TOP 1 PATIENT_ID
							FROM PATIENT 
							WHERE PATIENT_CODE=@PATIENT_CODE
							OR FIRST_NAME=@FIRST_NAME OR LAST_NAME=@LAST_NAME);

END
ELSE
BEGIN
	PRINT('Patient does not exists');
END
END

GO
/****** Object:  StoredProcedure [dbo].[GET_PATIENT_REPORT]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_PATIENT_REPORT] @PATIENT_CODE VARCHAR(20),
									@VISIT_DATE DATE

AS 
BEGIN
	
DECLARE @CHECK_PA_CODE VARCHAR(20);

SET @CHECK_PA_CODE=NULL;

	SELECT @CHECK_PA_CODE=(SELECT COUNT(APPT.PATIENT_ID)
							FROM APPOINTMENT APPT
							JOIN PATIENT PA ON (PA.PATIENT_ID=APPT.PATIENT_ID)
							JOIN VISIT VST ON(VST.PATIENT_ID=PA.PATIENT_ID)
							WHERE PA.PATIENT_CODE=@PATIENT_CODE OR VST.VISIT_DATE=@VISIT_DATE
							);

	IF @CHECK_PA_CODE>0
	BEGIN

	
	--CREATE INDEX ind_v_date ON VISIT(VISIT_DATE);

		SELECT PA.PATIENT_CODE, PA.FIRST_NAME+' '+PA.LAST_NAME PATIENT_NAME, DOC.FIRST_NAME+' '+DOC.LAST_NAME DOCTOR_NAME,
				APPT.APPOINTMENT_DATE,APPT.APPOINTMENT_TIME,APPT.APPOINTMENT_DESCRIPTION,
				VST.VISIT_DATE,VST.DIAGNOSIS,VST.REFERENCE, PRS.TIMEFRAME,PRS.QUANTITY,PRS.DOSAGE, MED.MEDICINE_NAME
		FROM PATIENT PA
		JOIN APPOINTMENT APPT ON(APPT.PATIENT_ID=PA.PATIENT_ID)
		JOIN DOCTOR DOC ON(DOC.DOCTOR_ID=APPT.DOCTOR_ID)
		JOIN VISIT VST ON(VST.PATIENT_ID=PA.PATIENT_ID)
		JOIN PRESCRIPTION PRS ON(PRS.VISIT_ID=VST.VISIT_ID)
		JOIN MEDICINE MED ON(MED.MEDICINE_ID=PRS.MEDICINE_ID)
		WHERE PA.PATIENT_CODE=@PATIENT_CODE
		OR VST.VISIT_DATE=@VISIT_DATE;
			

	END
	ELSE
	BEGIN
		PRINT('The Entered Patient does not have any visit for apointments.');
	END;

END

GO
/****** Object:  StoredProcedure [dbo].[GET_UPCOMING_APPOINTMENTS]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_UPCOMING_APPOINTMENTS] @DOCTOR_CODE VARCHAR(20)
AS
BEGIN

DECLARE @CHECK_DOC INT;

SET @CHECK_DOC=0;

SET @CHECK_DOC=(SELECT COUNT(DOCTOR_ID) FROM DOCTOR WHERE DOCTOR_CODE=@DOCTOR_CODE);


IF @CHECK_DOC>0
BEGIN 
	SELECT DOC.DOCTOR_CODE,DOC.FIRST_NAME+' '+DOC.LAST_NAME DOCTOR_NAME,
			APPT.APPOINTMENT_DATE,APPT.APPOINTMENT_TIME,APPT.TYPE, APPT.APPOINTMENT_DESCRIPTION
	FROM DOCTOR DOC
	JOIN APPOINTMENT APPT ON(APPT.DOCTOR_ID=DOC.DOCTOR_ID)
	WHERE DOC.DOCTOR_CODE=@DOCTOR_CODE AND APPT.APPOINTMENT_DATE>= CONVERT(date, getdate());
END	
ELSE IF @CHECK_DOC=0
BEGIN
	SELECT DOC.DOCTOR_CODE,DOC.FIRST_NAME+' '+DOC.LAST_NAME DOCTOR_NAME,
			APPT.APPOINTMENT_DATE,APPT.APPOINTMENT_TIME,APPT.TYPE, APPT.APPOINTMENT_DESCRIPTION
	FROM DOCTOR DOC
	JOIN APPOINTMENT APPT ON(APPT.DOCTOR_ID=DOC.DOCTOR_ID)
	WHERE  APPT.APPOINTMENT_DATE>= CONVERT(date, getdate());
END;


END
GO
/****** Object:  StoredProcedure [dbo].[SET_DOCTOR_REGISTRATION]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SET_DOCTOR_REGISTRATION] @FIRST_NAME VARCHAR(30),
										@LAST_NAME VARCHAR(30),
										@SPECIALIST VARCHAR(30),
										@PHONE VARCHAR(14),
										@EMAIL VARCHAR(30),
										@OFFICE_ID INT,
										@STATUS_MSG VARCHAR(100) OUTPUT

AS 
BEGIN

DECLARE @DEPT_CHECK INT;
DECLARE @DEPT_ID INT;

SET @DEPT_CHECK=0;
SET @DEPT_ID=0;

SET @DEPT_CHECK=(SELECT COUNT(DEPARTMENT_NAME) FROM DEPARTMENT WHERE UPPER(DEPARTMENT_NAME)=UPPER(@SPECIALIST));

IF @DEPT_CHECK=1
BEGIN

	DECLARE @CODE VARCHAR(20);
	EXEC GET_CODES 'DOCTOR',@CODE OUT;

	SET @DEPT_ID=(SELECT DEPARTMENT_ID FROM DEPARTMENT WHERE UPPER(DEPARTMENT_NAME)=UPPER(@SPECIALIST));

	INSERT INTO DOCTOR(DOCTOR_CODE,DEPARTMENT_ID,OFFICE_ID,FIRST_NAME,LAST_NAME,SPECIALIST,PHONE,EMAIL)
	VALUES (@CODE,@DEPT_ID,@OFFICE_ID,@FIRST_NAME,@LAST_NAME,@SPECIALIST,@PHONE,@EMAIL);

	SET @STATUS_MSG=('NEW DOCTOR REGISTERED');

END;

END
GO
/****** Object:  StoredProcedure [dbo].[SET_ENCRYPTION]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SET_ENCRYPTION] 
AS
BEGIN

	CREATE MASTER KEY ENCRYPTION BY PASSWORD = 'UTKARSH';

	SELECT name KeyName,
	  symmetric_key_id KeyID,
	key_length KeyLength,
	algorithm_desc KeyAlgorithm
	FROM sys.symmetric_keys;

	CREATE CERTIFICATE EmpSSN
   WITH SUBJECT = 'PATIENT SSN';  

   CREATE SYMMETRIC KEY EmpSSN_sm 
    WITH ALGORITHM = AES_256  
    ENCRYPTION BY CERTIFICATE EmpSSN;  

	OPEN SYMMETRIC KEY EmpSSN_sm  
   DECRYPTION BY CERTIFICATE EmpSSN;

   	UPDATE PATIENT SET SSN = EncryptByKey(Key_GUID('EmpInsPlan_sm'), SSN);

	CLOSE SYMMETRIC KEY EmpSSN_sm;

END
GO
/****** Object:  StoredProcedure [dbo].[SET_PATIENT_APPOINTMENT]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SET_PATIENT_APPOINTMENT] @PATIENT_CODE VARCHAR(30),
										@DOCTOR_CODE VARCHAR(30),
										@TYPE VARCHAR(20),
										@APPOINTMENT_DATE DATE,
										@APPOINTMENT_TIME TIME,
										@APPT_DESC VARCHAR(60),
										@STATUS_MSG VARCHAR(100) OUTPUT
AS
BEGIN

DECLARE @CHECKTYPE INT;
DECLARE @CHECK_DOCTOR INT;
DECLARE @PID INT;
DECLARE @DID INT;
SET @PID=0;
SET @DID=0;

SET @CHECKTYPE = 0;
SET @CHECK_DOCTOR = 0;

SELECT @CHECKTYPE = (SELECT COUNT(DEPARTMENT_NAME) FROM DEPARTMENT WHERE UPPER(DEPARTMENT_NAME)= UPPER(@TYPE) GROUP BY DEPARTMENT_NAME);

SELECT @CHECK_DOCTOR = (SELECT COUNT(doc.DOCTOR_ID)
						FROM DOCTOR doc
						JOIN DEPARTMENT dept ON (dept.DEPARTMENT_ID=doc.DEPARTMENT_ID)
						WHERE dept.DEPARTMENT_NAME=@TYPE
						);

IF @CHECKTYPE = 1 AND @CHECK_DOCTOR>=1
BEGIN
SET @PID=(SELECT TOP 1 PATIENT_ID FROM PATIENT WHERE PATIENT_CODE=@PATIENT_CODE);
SET @DID=(SELECT DOCTOR_ID FROM DOCTOR WHERE DOCTOR_CODE=@DOCTOR_CODE);

	INSERT INTO APPOINTMENT(PATIENT_ID,DOCTOR_ID,[TYPE],CREATED_DATE,APPOINTMENT_DATE,APPOINTMENT_TIME,APPOINTMENT_DESCRIPTION)
	VALUES(@PID,@DID,UPPER(@TYPE),GETDATE(),@APPOINTMENT_DATE,@APPOINTMENT_TIME,@APPT_DESC);

	
	set @STATUS_MSG = CONCAT('Appointment set for Date',' ',@APPOINTMENT_DATE,' and Time',' ',@APPOINTMENT_TIME,+' '+
						'for patient'+' '+@PATIENT_CODE);

	SELECT CONCAT('Appointment set for Date',' ',@APPOINTMENT_DATE,' and Time',' ',@APPOINTMENT_TIME,' ',
						'for patient',' ',@PATIENT_CODE) as [MESSAGE];

END
ELSE IF @CHECKTYPE=0
BEGIN

	SELECT @STATUS_MSG =('DEPARTMENT TYPE DOES NOT EXISTS.');
END
ELSE IF @CHECK_DOCTOR=0
BEGIN
	SELECT @STATUS_MSG=('DOCTOR IS NOT AVAILABLE FOR THE MENTIONED TYPE.');
END;

END




GO
/****** Object:  StoredProcedure [dbo].[SET_PATIENT_REGISTRATION]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SET_PATIENT_REGISTRATION] @PATIENT_FIRST_NAME VARCHAR(30),
											@PATIENT_LAST_NAME VARCHAR(30),
											@NATIONALITY VARCHAR(30),
											@GENDER CHAR(1),
											@ADDRESS VARCHAR(50),
											@DOB DATE,
											@PHONE VARCHAR(14),
											@EMAIL VARCHAR(30),
											@SSN VARCHAR(14),
											@INS_PUBLISH_DATE DATE,
											@INS_EXPIRATION_DATE DATE,
											@INS_COMPANY_NAME VARCHAR(50),
											@INS_PLAN_ID VARCHAR(100),
											@INS_COVERAGE DECIMAL(10,2),
											@STATUS_MSG VARCHAR(200) OUTPUT
AS
BEGIN

DECLARE @CHECK_PA INT;
DECLARE @PATIENT_ID INT;

SET @CHECK_PA=0;
SET @PATIENT_ID=0;

SELECT @CHECK_PA=(SELECT COUNT(PHONE) FROM PATIENT
					WHERE PHONE=@PHONE);
	DECLARE @NSSN VARBINARY(MAX);

	SET @NSSN = CONVERT(VARBINARY(MAX),@SSN);

IF @CHECK_PA=0
BEGIN

	DECLARE @CODE VARCHAR(20);
	EXEC GET_CODES 'PATIENT',@CODE OUT;

 	INSERT INTO PATIENT(PATIENT_CODE,FIRST_NAME,LAST_NAME,NATIONALITY,GENDER,ADDRESS,DOB,PHONE,EMAIL,SSN) VALUES
	(@CODE,@PATIENT_FIRST_NAME,@PATIENT_LAST_NAME,@NATIONALITY,@GENDER,@ADDRESS,@DOB,@PHONE,@EMAIL,@NSSN);


	IF @INS_PLAN_ID IS NOT NULL
	BEGIN
	
	SELECT @PATIENT_ID= (SELECT PATIENT_ID FROM PATIENT WHERE PATIENT_CODE=@CODE);



		INSERT INTO INSURANCE(PATIENT_ID,PUBLISH_DATE,EXPIRATION_DATE,INSURANCE_COMPANY,INSURANCE_PLAN_ID,INSURANCE_COVERAGE)
		VALUES(@PATIENT_ID,@INS_PUBLISH_DATE,@INS_EXPIRATION_DATE,@INS_COMPANY_NAME,@INS_PLAN_ID,@INS_COVERAGE);

		
			
	END

	   	 
	SET @STATUS_MSG=('New patient '+@PATIENT_FIRST_NAME+' '+@PATIENT_LAST_NAME+' '+'registered.'+' '+'with patient'+' '+@CODE);
END
ELSE
BEGIN
	

	DECLARE @VARCONCAT VARCHAR(200);
	DECLARE @TABCONCAT VARCHAR(200);
	SET @VARCONCAT=NULL;
	SET @TABCONCAT=NULL;

	

	SET @TABCONCAT=(SELECT CONCAT(PA.FIRST_NAME,PA.LAST_NAME,PA.NATIONALITY,PA.GENDER,PA.ADDRESS,PA.DOB,PA.PHONE,
			PA.EMAIL,PA.SSN,INS.PUBLISH_DATE,INS.EXPIRATION_DATE,INS.INSURANCE_COMPANY,INS.INSURANCE_PLAN_ID,INS.INSURANCE_COVERAGE)
	FROM PATIENT PA
	JOIN INSURANCE INS ON(PA.PATIENT_ID=INS.PATIENT_ID)
	WHERE PA.PATIENT_ID=(SELECT TOP 1 PATIENT_ID FROM PATIENT WHERE PHONE=@PHONE ORDER BY PATIENT_ID DESC));



	SET @VARCONCAT=(SELECT CONCAT(@PATIENT_FIRST_NAME,@PATIENT_LAST_NAME,@NATIONALITY,@GENDER,@ADDRESS,@DOB,@PHONE,@EMAIL,@SSN,
	@INS_PUBLISH_DATE,@INS_EXPIRATION_DATE,@INS_COMPANY_NAME,@INS_PLAN_ID,@INS_COVERAGE));
	
	IF @TABCONCAT=@VARCONCAT
	BEGIN
		SET @STATUS_MSG=('Patient already exists');
	END
	ELSE
	BEGIN

		UPDATE PATIENT
		SET FIRST_NAME=@PATIENT_FIRST_NAME,
			LAST_NAME=@PATIENT_LAST_NAME,
			NATIONALITY=@NATIONALITY,GENDER=@GENDER,ADDRESS=@ADDRESS,DOB=@DOB,PHONE=@PHONE,
			EMAIL=@EMAIL,SSN=@NSSN
		WHERE PATIENT_ID=(SELECT TOP 1 PATIENT_ID FROM PATIENT WHERE PHONE=@PHONE ORDER BY PATIENT_ID DESC);

		UPDATE INSURANCE 
		SET 
			PUBLISH_DATE=@INS_PUBLISH_DATE,EXPIRATION_DATE=@INS_EXPIRATION_DATE,
			INSURANCE_COMPANY=@INS_COMPANY_NAME,INSURANCE_PLAN_ID=@INS_PLAN_ID,
			INSURANCE_COVERAGE=@INS_COVERAGE
		
		WHERE PATIENT_ID=(SELECT TOP 1 PATIENT_ID FROM PATIENT WHERE PHONE=@PHONE ORDER BY PATIENT_ID DESC);

		SET @STATUS_MSG=('Patient details upated');
	END;

END;


END

GO
/****** Object:  StoredProcedure [dbo].[SET_PATIENT_REPORT]    Script Date: 04/22/2022 11:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SET_PATIENT_REPORT] @PATIENT_CODE VARCHAR(20),
								@DIAGNOSIS VARCHAR(50),
								@REFERENCE VARCHAR(40),
								@MEDICINE VARCHAR(100),
								@TIMEFRAME VARCHAR(10),
								@QUANTIY INT,
								@DOSAGE VARCHAR(10),
								@LAB_CHARGE FLOAT,
								@STATUS_MSG VARCHAR(200) OUTPUT
AS
BEGIN

DECLARE @CHECK_PATIENT INT;
DECLARE @PA_ID INT;
DECLARE @DOC_ID INT;
DECLARE @MEDICINE_ID VARCHAR(30);
DECLARE @SP_ID INT;
DECLARE @COUNTER INT;
DECLARE @MEDICINE_ID_COUNT INT;
DECLARE @N INT;
DECLARE @LATEST_VISIT_ID INT;

SET @CHECK_PATIENT=0;
SET @PA_ID=0;
SET @DOC_ID=0;
SET @MEDICINE_ID=NULL;
SET @MEDICINE_ID_COUNT=0;
SET @N=1;
SET @LATEST_VISIT_ID=0;

SELECT @CHECK_PATIENT = (SELECT COUNT(PATIENT_CODE) FROM PATIENT WHERE PATIENT_CODE=@PATIENT_CODE GROUP BY PATIENT_CODE);

SELECT @PA_ID = (SELECT TOP 1 PATIENT_ID
				FROM PATIENT
				WHERE PATIENT_CODE=@PATIENT_CODE
				ORDER BY PATIENT_ID DESC);

SELECT @DOC_ID = (SELECT DOCTOR_ID
					FROM APPOINTMENT
					WHERE PATIENT_ID=@PA_ID);

IF @CHECK_PATIENT>0 
BEGIN
	
	INSERT INTO VISIT(PATIENT_ID,DOCTOR_ID,VISIT_DATE,DIAGNOSIS,REFERENCE)
	VALUES(@PA_ID,@DOC_ID,GETDATE(),@DIAGNOSIS,@REFERENCE);

	SELECT @LATEST_VISIT_ID = (SELECT TOP 1 VISIT_ID FROM VISIT WHERE PATIENT_ID=@PA_ID ORDER BY VISIT_ID DESC);
	
	SELECT @MEDICINE_ID = (SELECT STRING_AGG(MEDICINE_ID,',') FROM MEDICINE
							WHERE UPPER(@MEDICINE) LIKE CONCAT('%',UPPER(MEDICINE_NAME),'%'));

	SELECT @MEDICINE_ID_COUNT = (SELECT COUNT(MEDICINE_ID) FROM MEDICINE
							WHERE @MEDICINE LIKE CONCAT('%',MEDICINE_NAME,'%'));


	while len(@MEDICINE_ID) > 0
	begin
			INSERT INTO PRESCRIPTION(MEDICINE_ID,VISIT_ID,TIMEFRAME,QUANTITY,DOSAGE)
			VALUES(left(@MEDICINE_ID, charindex(',', @MEDICINE_ID+',')-1),@LATEST_VISIT_ID,@TIMEFRAME,@QUANTIY,@DOSAGE);
       
			set @MEDICINE_ID = stuff(@MEDICINE_ID, 1, charindex(',', @MEDICINE_ID+','), '')
	end
	
	DECLARE @VST_DATE DATE;
	DECLARE @MED_PRICE FLOAT;

	SET @VST_DATE=(SELECT VISIT_DATE FROM VISIT WHERE VISIT_ID=(SELECT TOP 1 VISIT_ID FROM VISIT WHERE PATIENT_ID=@PA_ID ORDER BY VISIT_ID DESC));
	
	SET @MED_PRICE=(SELECT SUM(MED.MEDICINE_PRICE) FROM MEDICINE MED
					JOIN PRESCRIPTION PRES ON (PRES.MEDICINE_ID=MED.MEDICINE_ID)
					WHERE PRES.VISIT_ID=@LATEST_VISIT_ID);

	INSERT INTO BILL(VISIT_ID,DOCTOR_CHARGE,MEDICINE_CHARGE,LAB_CHARGE)
	VALUES(@LATEST_VISIT_ID,400,@MED_PRICE,@LAB_CHARGE);


	SELECT PA.PATIENT_CODE, PA.FIRST_NAME+' '+PA.LAST_NAME PATIENT_NAME, DOC.FIRST_NAME+' '+DOC.LAST_NAME DOCTOR_NAME,
				APPT.APPOINTMENT_DATE,APPT.APPOINTMENT_TIME,APPT.APPOINTMENT_DESCRIPTION,
				VST.VISIT_DATE,VST.DIAGNOSIS,VST.REFERENCE, PRS.TIMEFRAME,PRS.QUANTITY,PRS.DOSAGE, MED.MEDICINE_NAME
		FROM PATIENT PA
		JOIN APPOINTMENT APPT ON(APPT.PATIENT_ID=PA.PATIENT_ID)
		JOIN DOCTOR DOC ON(DOC.DOCTOR_ID=APPT.DOCTOR_ID)
		JOIN VISIT VST ON(VST.PATIENT_ID=PA.PATIENT_ID)
		JOIN PRESCRIPTION PRS ON(PRS.VISIT_ID=VST.VISIT_ID)
		JOIN MEDICINE MED ON(MED.MEDICINE_ID=PRS.MEDICINE_ID)
		WHERE PA.PATIENT_CODE=@PATIENT_CODE ORDER BY PA.PATIENT_ID DESC;
		

	

END
ELSE
BEGIN
	SELECT @STATUS_MSG= ('Entered Patient does not exists');
END;



END

GO
USE [master]
GO
